<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accountant - Sign up</title>

    <%- include('../partials/_global_styles.ejs') %>
    <link rel="stylesheet" href="/public/styles/auth/auth.css">
</head>
<body>
    <%- include('../partials/_navbar.ejs') %> 
    <div class="wrapper">
        <div class="form-wrapper mt-3">
            <h2>Create an account</h2>
            <h5>Let's get you started in just a few steps.</h5>
            <form id="signup-form" action="/auth/signup" method="POST">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">

                <input type="text" placeholder="Username" name="username" value="<%= username %>" required class="<% if (errors.username) { %>error<% } %>">
                <% if (errors.username) { %>
                    <p class="text-danger m-0"> Username <b>@<%= username %></b> is already in use.</p>
                <% } %>
                
                <input type="email" placeholder="Email" name="email" value="<%= email %>" required class="<% if (errors.email) { %>error<% } %>">
                <% if (errors.email) { %>
                    <p class="text-danger m-0">Email <b><%= email %></b> has already been registered.</p>
                <% } %>

                <input type="password" placeholder="Password" name="password" required class="<% if (errors.password || errors.confirmPassword) { %>error<% } %>">
                <% if (errors.password) { %>
                    <p class="text-danger m-0">Password should be at least 8 characters long.</p>
                <% } %>
                
                <input type="password" placeholder="Confirm password" name="confirmPassword" required class="<% if (errors.confirmPassword) { %>error<% } %>">
                <% if (errors.confirmPassword) { %>
                    <p class="text-danger m-0">Password doesn't match.</p>
                <% } %>
                
                <button class="bt-primary" type="submit">Continue</button>
            </form>
            <p>
                Joined us before? <a href="/auth/signin">Sign in</a>
            </p>
        </div>
    </div>

    <%- include('../partials/_global_scripts.ejs') %>
</body>
</html>