<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accountant - Sign in</title>

    <%- include('../partials/_global_styles.ejs') %>
    <link rel="stylesheet" href="/public/styles/auth/auth.css">
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <div class="wrapper">
        <div class="form-wrapper mt-3">
            <h2>Login</h2>
            <h5>Welcome back! Please enter your details.</h5>
            <form id="signin-form" action="/auth/signin" method="POST">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                
                <input type="email" placeholder="Email" name="email" required <% if (email) { %> value="<%= email %>" <% } %>>
                <input type="password" placeholder="Password" name="password" required>
                <% if (error) { %>
                    <p class="text-danger m-0">Incorrect email or password.</p>
                <% } %>
                <button class="bt-primary" type="submit">Login</button>
            </form>
            <p>New to Accountant? <a href="/auth/signup">Register</a></p>
        </div>
    </div>

    <%- include('../partials/_global_scripts.ejs') %>
</body>
</html>