<div class="nested-menu hidden" id="configuration">
    <div class="header">
        <a href="/app/settings" class="back-toggle" data-link>
            <i class="bi bi-chevron-left"></i>
            <h2>
                Configuration
            </h2>
        </a>
    </div>
    <div class="section-divider">
        <h6>
            QUICK CONFIGURATION
        </h6>
    </div>
    <section class="settings-section">
        <ul class="section-list">
            <a class="menu-link" id="income-c-menu-toggle">
                <li class="link-item" onclick="toggleDetailedMenu('income-c-menu-toggle')">
                    <div>
                        Income Categories
                    </div>
                    <i class="bi bi-chevron-down"></i>
                </li>
                <div class="detailed">
                    <ul class="detailed-list">
                        <% user.incomeCategories.forEach(element => { %>
                            <li onclick="openPopUp('<%- element.id %>', this)">
                                <h2 class="title"><%- element.name %></h2>
                            </li>
                        <% }) %>
                        <button onclick="openBottomUpSheet('income-category-add')" class="bt-secondary text-primary">Add category</button>
                    </ul>
                </div>
            </a>
            <a class="menu-link" id="expense-c-menu-toggle">
                <li class="link-item" onclick="toggleDetailedMenu('expense-c-menu-toggle')">
                    <div>
                        Expense Categories
                    </div>
                    <i class="bi bi-chevron-down"></i>
                </li>
                <div class="detailed">
                    <ul class="detailed-list">
                        <% user.expenseCategories.forEach(element => { %>
                            <li onclick="openPopUp('<%- element.id %>', this)">
                                <h2 class="title"><%- element.name %></h2>
                            </li>
                        <% }) %>
                        <button onclick="openBottomUpSheet('expense-category-add')" class="bt-secondary text-primary">Add category</button>
                    </ul>
                </div>
            </a>
            <a class="menu-link" id="budget-menu-toggle">
                <li class="link-item" onclick="toggleDetailedMenu('budget-menu-toggle')">
                    <div>Budget</div>
                    <i class="bi bi-chevron-down"></i>
                </li>
                <div class="detailed">
                    <div class="detailed-list-title">Your budget</div>
                    <ul class="detailed-list">
                        <% user.expenseCategories.forEach(element => { %>
                            <% if (element.budget) { %>
                                <li onclick="openPopUp('<%- element.id %>-budget-delete', this)">
                                    <h2 class="title"><%- element.name %></h2>
                                    <h4 class="budget-bound">£<%- element.budget %></h4>
                                </li>
                            <% } %>
                        <% }) %>
                        <button onclick="openBottomUpSheet('budget-add')" class="bt-secondary text-primary">Add budget</button>
                    </ul>
                </div>
            </a>
            <a class="menu-link act-as-link" href="/app/settings/configuration/repeat" data-link>
                <li class="link-item">
                    <div>
                        Repeatability
                    </div>
                    <i class="bi bi-chevron-right"></i>
                </li>
                <h5 class="detail-description text-secondary py-2">Every time you key in an expense, income or transfer transaction just click the recycle icon to make it repetitive.</h5>
            </a>
        </ul>
    </section>
    <div class="section-divider">
        <h6>
            GENERAL
        </h6>
    </div>
    <section class="settings-section">
        <ul class="section-list">
            <a class="menu-link act-as-link" href="/app/settings/configuration/currency" data-link>
                <li class="link-item my-0">
                    <div>
                        Main Currency Setting
                    </div>
                    <i class="bi bi-chevron-right"></i>
                </li>
                <h5 class="detail-description text-secondary py-2">GBP - Great British pound (£)</h5>
            </a>
            <a class="menu-link"><li class="link-item">
                <div>
                    Carry-over
                </div>
                <button class="bt-toggle" id="carry-over" onclick="toggleButton(this.id)">
                    <div class="circle"></div>
                </button>
            </li></a>
        </ul>
    </section>
    <div class="section-divider">
        <h6>
            OTHER
        </h6>
    </div>
    <section class="settings-section">
        <ul class="section-list">
            <a><li>
                <div>
                    Alarm
                </div>
                <button class="bt-toggle" id="alarm" onclick="toggleButton(this.id)">
                    <div class="circle"></div>
                </button>
            </li></a>
            <a class="menu-link" id="style-menu-toggle">
                <li onclick="toggleDetailedMenu('style-menu-toggle')">
                    <div>
                        Style
                    </div>
                    <i class="bi bi-chevron-down"></i>
                </li>
                <div class="detailed">
                    <div class="styles my-1">
                        <div class="style-dot bg-success"></div>
                        <div class="style-dot bg-primary active"></div>
                        <div class="style-dot bg-danger"></div>
                        <div class="style-dot bg-warning"></div>
                        <div class="style-dot bg-info"></div>
                    </div>
                    <h5 class="detail-description text-secondary pt-3">
                        Select theme you prefer.
                        <span class="text-primary">This is your accent colour now.</span>
                    </h5>
                </div>
            </a>
        </ul>
    </section>
</div>

<div class="bottom-up-sheet" id="income-category-add">
    <h2>Add income category</h2>
    <form action="/app/settings/income-cat-add" method="POST">
        <input type="text" placeholder="Category name" name="incomeCatName" required>
        <div class="bt-wrapper">
            <button type="submit" class="bt-primary">Save</button>
        </div>
    </form>
</div>

<div class="bottom-up-sheet" id="expense-category-add">
    <h2>Add expenses category</h2>
    <form action="/app/settings/expense-cat-add" method="POST">
        <input type="text" placeholder="Category name" name="expenseCatName" required>
        <div class="bt-wrapper">
            <button type="submit" class="bt-primary">Save</button>
        </div>
    </form>
</div>

<div class="bottom-up-sheet high" id="budget-add">
    <div>
        <h2>Add budget</h2>
        <form action="/app/settings/budget-add" method="POST" id="budget-add-form">
            <div class="select-wrapper" onclick="expandOptions('budget-add-form')">
                <input class="select" placeholder="Category" id="budget-options" name="budgetAddCategory">
                <i class="bi bi-chevron-down"></i>
            </div>

            <ul class="options-wrapper">
                <% Array.from(user.expenseCategories).forEach(element => { %>
                    <li class="option" onclick="setValue('budget-add-form', 'budget-options', '<%- element.name %>')"><%- element.name %></li>
                <% }) %>
            </ul>

            <input type="number" placeholder="Amount" name="budgetAddValue">
        </form>
    </div>
    <div class="bt-wrapper">
        <button onclick="submitForm('budget-add-form')" type="submit" class="bt-primary w-100">Save</button>
    </div>
</div>

<% user.expenseCategories.forEach(element => { %>
    <div class="pop-up-alert" id="<%- element.id %>">
        <h2>Are you sure you want to delete this category <span class="text-primary"><%- element.name %></span></h2>
        <form action="/app/settings/expense-cat-delete" method="POST">
            <button type="button" onclick="closeAllPopUps()" class="bt-secondary">Cancel</button>
            <input type="hidden" value="<%- element.id %>" name="expenseCatID">
            <button type="submit" class="bt-primary">OK</button>
        </form>
    </div>
<% }) %>
    
<% user.incomeCategories.forEach(element => { %>
    <div class="pop-up-alert" id="<%- element.id %>">
        <h2>Are you sure you want to delete this category <span class="text-primary"><%- element.name %></span></h2>
        <form action="/app/settings/income-cat-delete" method="POST">
            <button type="button" onclick="closeAllPopUps()" class="bt-secondary">Cancel</button>
            <input type="hidden" value="<%- element.id %>" name="incomeCatID">
            <button type="submit" class="bt-primary">OK</button>
        </form>
    </div>
<% }) %>

<% user.expenseCategories.forEach(element => { %>
    <div class="pop-up-alert" id="<%- element.id %>-budget-delete">
        <h2>Delete?</h2>
        <form action="/app/settings/budget-delete" method="POST">
            <button type="button" onclick="closeAllPopUps()" class="bt-secondary">Cancel</button>
            <input type="hidden" value="<%- element.id %>" name="budgetCatID">
            <button type="submit" class="bt-primary">OK</button>
        </form>
    </div>
<% }) %>