<div class="container" id="accounts-configuration" role="tabpanel">
    <div class="breadcrumbs">
        <a href="/app/settings/accounts" class="interactive" role="presentation">Accounts</a>
        <i class="bi bi-chevron-right"></i>
        <a class="disabled">Accounts configuration</a>
    </div>
    <div class="content-title">
        <div>
            <h2>Accounts configuration</h2>
        </div>
        <button class="button-primary" onclick="openModal('add-account-modal')">Add account</button>
    </div>

    <div class="configuration-section">
        <% if (context.accounts.length < 1) { %>
            <div class="no-data-wrapper">
                <img class="no-data-image" src="/public/images/nodata.svg" alt="No data available">
                <h3>You haven't registered any accounts.</h3>
            </div>
        <% } else { %>
        <ul class="configuration-list">
            <div class="legend">
                <h4 class="name">Name</h4>
                <h4>Balance</h4>
            </div>
            <% context.accounts.forEach(account => { %>
                <form action="/app/settings/edit/account" method="POST">
                    <li id="accounts-configuration-listitem-<%= account.id %>" role="listitem">
                        <div class="inputs-formatter">
                            <input type="hidden" value="<%= account.name %>" id="accounts-configuration-listitem-<%= account.id %>-initial">
                            <input type="hidden" value="<%= account.id %>" name="accountID">
                            <input class="input-name editable-input" value="<%= account.name %>" name="accountNewName" id="accounts-configuration-listitem-<%= account.id %>-input">
                            <input class="editable-input" id="accounts-configuration-listitem-<%= account.id %>-input" value="<%= account.amount %>" name="accountNewBalance">
                        </div>
                        <div class="button-wrapper">
                            <button type="button" class="button-secondary grey" onclick="editListItem('accounts-configuration-listitem-<%= account.id %>')">Cancel</button>
                            <button type="submit" class="button-secondary">Save</button>
                            <button type="button" class="context-menu-button" onclick="editListItem('accounts-configuration-listitem-<%= account.id %>')"><i class="bi bi-pencil"></i></button>
                            <button type="button" class="context-menu-button danger" onclick="openModal('accounts-configuration-delete-<%= account.id %>')"><i class="bi bi-trash3"></i></button>
                        </div>
                    </li>
                </form>
                <span class="divider"></span>
            <% }) %>
            <div class="configuration-list-footer"></div>
        </ul>
        <% } %>
    </div>
</div>

<% context.accounts.forEach(account => { %>
    <div class="modal" id="accounts-configuration-delete-<%= account.id %>">
        <div class="modal-header flex-column">
            <h2>Delete this account? <%= account.name %></h2>
        </div>
        
        <form action="/app/settings/delete/account" method="POST" class="modal-body">
            <input type="hidden" value="<%= account.id %>" name="accountID">
            <div class="form-footer">
                <div class="button-wrapper">
                    <button class="button-secondary grey" type="button" onclick="closeModals()">Cancel</button>
                    <button class="button-primary button-danger" type="submit">Delete</button>
                </div>
            </div>
        </form>
    </div>
<% }) %>

<div class="modal" id="add-account-modal">
    <div class="modal-header">
        <h2>Add account</h2>
    </div>
    
    <form action="/app/settings/add/account" method="POST" class="modal-body">
        <div class="form-body">
            <div class="input-wrapper dropdown" onclick="toggleDropdown(this)">
                <input type="text" placeholder="Account group" id="account-group-accountAdd-input" name="accountGroupName" required>
                <i class="bi bi-chevron-down"></i>
                <ul class="dropdown-list">
                    <% context.accountGroups.forEach(accountGroup => { %>
                        <li class="dropdown-item" onclick="setValue(this, 'account-group-accountAdd-input')" value="<%= accountGroup.groupName %>">
                            <%= accountGroup.groupName %>
                            <i class="bi bi-check-lg check"></i>
                        </li>
                    <% }) %>
                </ul>
            </div>
            <div class="input-wrapper">
                <input type="text" placeholder="Account name" name="newAccountName" required>
            </div>
            <div class="input-wrapper">
                <input type="number" placeholder="Account balance" name="newAccountBalance" required>
            </div>
        </div>
        <div class="form-footer">
            <div class="button-wrapper">
                <button class="button-secondary" type="button" onclick="closeModals()">Cancel</button>
                <button class="button-primary" type="submit">Add</button>
            </div>
        </div>
    </form>
</div>