<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accountant - Dashboard</title>

    <link rel="stylesheet" href="/public/styles/main.css">
    <link rel="stylesheet" href="/public/styles/app/dashboard.css">
</head>
<body>
    <div id="overlay" class="hidden"></div>
    <div class="dashboard-container" id="appContainer">
        <div class="background">
            <menu class="user-menu">
                <div class="header">
                    <img src="/public/images/defaultavatar.png" alt="">
                    <div class="user-info">
                        <h2><%= user.username %></h2>
                        <h3><%= user.email %></h3>
                    </div>

                </div>
                <ul class="user-menu-list">
                    <a href="#"><li class="active"><i class="bi bi-house-fill"></i>Overview</li></a>
                    <a href="#"><li><i class="bi bi-book-fill"></i>Transactions</li></a>
                    <a href="#"><li><i class="bi bi-bar-chart-fill"></i>Statistics</li></a>
                    <a href="#"><li><i class="bi bi-credit-card-2-back-fill"></i>Accounts</li></a>
                    <a href="#"><li><i class="bi bi-bell-fill"></i>Notifications</li></a>
                </ul>
                <div class="button-wrapper">
                    <a href="/app/settings">
                        <i class="bi bi-gear-fill"></i>
                    </a>
                        <a class="logout" href="/auth/signout">
                            <i class="bi bi-box-arrow-right"></i>
                        </a>
                </div>
            </menu>
        </div>

        <section>
            <nav class="tab-nav">
                <ul>
                    <li class="active">Daily</li>
                    <li>Weekly</li>
                    <li>Monthly</li>
                    <li>Summary</li>
                </ul>
            </nav>
            <div class="quick-stats">
                <div class="stats-card income">
                    <h2>3270.95</h2>
                    <h3>income</h3>
                </div>
                <div class=" stats-card expense">
                    <h2>95.76</h2>
                    <h3>expenses</h3>
                </div>
                <div class="stats-card">
                    <h2>3175.19</h2>
                    <h3>total</h3>
                </div>
            </div>

            <div class="control-wrapper">
                <button class="bt-primary" onclick="toggleModal('new-transaction-modal')">New transaction</button>
                <form action="">
                    <div class="input-wrapper" id="search-transactions">
                        <i class="bi bi-search ml-0"></i>
                        <input class="select" placeholder="Search">
                    </div>
                    <div class="input-wrapper dropdown-wrapper" id="filter-transactions" onclick="toggleDropdown(this.id)">
                        <input class="select" value="All transactions" id="filter-transactions-input">
                        <i class="bi bi-chevron-down"></i>
                        
                        <ul class="dropdown" onclick="toggleDropdown('filter-transactions')">
                            <li onclick="setDropdownValue(this, 'filter-transactions-input', 'All transactions')">Income</li>
                            <li onclick="setDropdownValue(this, 'filter-transactions-input', 'All transactions')">Expenses</li>
                            <li onclick="setDropdownValue(this, 'filter-transactions-input', 'All transactions')">Transfers</li>
                        </ul>
                    </div>
                    <button class="bt-primary">Filter</button>
                </form>
            </div>

            <div class="table-wrapper">
                <table>
                    <tr class="header-row">
                        <th>Date <i class="bi bi-chevron-down"></i></th>
                        <th>Account <i class="bi bi-chevron-down"></i></th>
                        <th>Value <i class="bi bi-chevron-down"></i></th>
                        <th>Category <i class="bi bi-chevron-down"></i></th>
                    </tr>
                    <tr class="spacer"><th></th><th></th><th></th><th></th><th></th></tr>
                    <tr class="data-row">
                        <th>Today, 2:23 pm</th>
                        <th>Oyster Card</th>
                        <th class="expense">
                            £1.65
                        </th>
                        <th>Transportation</th>
                    </tr>
                    <tr class="data-row">
                        <th>Today, 1:45 pm</th>
                        <th>Salary</th>
                        <th class="income">
                            £3000
                        </th>
                        <th>Salary</th>
                    </tr>
                    <tr class="data-row">
                        <th>Today, 8:13 am</th>
                        <th>
                            Cash
                            <i class="bi bi-arrow-right-short"></i>
                            Oyster Card
                        </th>
                        <th class="transfer">
                            £10
                        </th>
                        <th></th>
                    </tr>
                </table>
            </div>

            <form class="modal" id="new-transaction-modal" method="POST" action="">
                <div>
                    <div class="modal-header">
                        <h2 class="modal-title">Add transaction</h2>
                        <button type="button" class="bt-close" onclick="toggleModal('new-transaction-modal')">
                            <i class="bi bi-x-lg"></i>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="tab-field-wrapper">
                            <div class="tab-field selected" id="income-tab-toggle" onclick="setTab(this.id, 'income-tab')">Income</div>
                            <div class="tab-field" id="expense-tab-toggle" onclick="setTab(this.id, 'expense-tab')">Expense</div>
                            <div class="tab-field" id="transfer-tab-toggle" onclick="setTab(this.id, 'transfer-tab')">Transfer</div>
                        </div>
                        <div class="tab selected" id="income-tab">
                            <div class="input-wrapper dropdown-wrapper" id="income-transaction-account" onclick="toggleDropdown(this.id)">
                                <input class="select" value="Account" id="income-transaction-account-input">
                                <i class="bi bi-chevron-down"></i>
                                <ul class="dropdown" onclick="toggleDropdown('income-transaction-account')">
                                    <% user.accountGroups.forEach(accountGroup => { %>
                                        <% Array.from(accountGroup.accounts).forEach(account => { %>
                                            <li onclick="setDropdownValue(this, 'income-transaction-account-input', 'Account')"><%= account.name %></li>
                                        <% }) %>
                                    <% }) %>
                                </ul>
                            </div>
                            <div class="input-wrapper dropdown-wrapper" id="income-transaction-category" onclick="toggleDropdown(this.id)">
                                <input class="select" value="Category" id="income-transaction-category-input">
                                <i class="bi bi-chevron-down"></i>
                                <ul class="dropdown" onclick="toggleDropdown('income-transaction-category')">
                                    <% user.incomeCategories.forEach(incomeCategory => { %>
                                        <li onclick="setDropdownValue(this, 'income-transaction-category-input', 'Category')"><%= incomeCategory.name %></li>
                                    <% }) %>
                                </ul>
                            </div>
                            <div class="input-wrapper" id="income-transaction-amount">
                                <i class="bi bi-currency-pound"></i>
                                <input class="select" type="number" placeholder="Amount">
                            </div>
                            <div class="input-wrapper" id="income-transaction-note">
                                <i class="bi bi-sticky"></i>
                                <input class="select" type="text" placeholder="Note" onclick="">
                            </div>
                            <div class="input-wrapper dropdown-wrapper" id="income-transaction-repeat" onclick="toggleDropdown(this.id)">
                                <input class="select" value="Don't repeat">
                                <i class="bi bi-chevron-down"></i>
                                <ul class="dropdown" onclick="toggleDropdown('income-transaction-repeat')">
                                    <li>Don't Repeat</li>
                                    <li>Every day</li>
                                    <li>Every week</li>
                                    <li>Every month</li>
                                    <li>Every quarter</li>
                                    <li>Every year</li>
                                </ul>
                            </div>
                        </div>
                        <div class="tab" id="expense-tab">
                            <div class="input-wrapper dropdown-wrapper" id="expense-transaction-account" onclick="toggleDropdown(this.id)">
                                <input class="select" value="Account" id="expense-transaction-account-input">
                                <i class="bi bi-chevron-down"></i>
                                <ul class="dropdown" onclick="toggleDropdown('expense-transaction-account')">
                                    <% user.accountGroups.forEach(accountGroup => { %>
                                        <% Array.from(accountGroup.accounts).forEach(account => { %>
                                            <li onclick="setDropdownValue(this, 'expense-transaction-account-input', 'Account')"><%= account.name %></li>
                                        <% }) %>
                                    <% }) %>
                                </ul>
                            </div>
                            <div class="input-wrapper dropdown-wrapper" id="expense-transaction-category" onclick="toggleDropdown(this.id)">
                                <input class="select" value="Category" id="expense-transaction-category-input">
                                <i class="bi bi-chevron-down"></i>
                                <ul class="dropdown" onclick="toggleDropdown('expense-transaction-category')">
                                    <% user.expenseCategories.forEach(expenseCategory => { %>
                                        <li onclick="setDropdownValue(this, 'expense-transaction-category-input', 'Category')"><%= expenseCategory.name %></li>
                                    <% }) %>
                                </ul>
                            </div>
                            <div class="input-wrapper" id="expense-transaction-amount" onclick="toggleDropdown(this.id)">
                                <i class="bi bi-currency-pound"></i>
                                <input class="select" type="number" placeholder="Amount">
                            </div>
                            <div class="input-wrapper" id="expense-transaction-note" onclick="toggleDropdown(this.id)">
                                <i class="bi bi-sticky"></i>
                                <input class="select" type="text" placeholder="Note">
                            </div>
                            <div class="input-wrapper dropdown-wrapper" id="expense-transaction-repeat" onclick="toggleDropdown(this.id)">
                                <input class="select" value="Don't repeat">
                                <i class="bi bi-chevron-down"></i>
                                <ul class="dropdown" onclick="toggleDropdown('expense-transaction-repeat')">
                                    <li>Don't Repeat</li>
                                    <li>Every day</li>
                                    <li>Every week</li>
                                    <li>Every month</li>
                                    <li>Every quarter</li>
                                    <li>Every year</li>
                                </ul>
                            </div>
                        </div>
                        <div class="tab" id="transfer-tab">
                            <div class="input-wrapper dropdown-wrapper" id="transfer-transaction-account-from" onclick="toggleDropdown(this.id)">
                                <input class="select" value="From" id="transfer-transaction-account-from-input">
                                <i class="bi bi-chevron-down"></i>
                                <ul class="dropdown" onclick="toggleDropdown('transfer-transaction-account-from')">
                                    <% user.accountGroups.forEach(accountGroup => { %>
                                        <% Array.from(accountGroup.accounts).forEach(account => { %>
                                            <li onclick="setDropdownValue(this, 'transfer-transaction-account-from-input', 'From')"><%= account.name %></li>
                                        <% }) %>
                                    <% }) %>
                                </ul>
                            </div>
                            <div class="input-wrapper dropdown-wrapper" id="transfer-transaction-account-to" onclick="toggleDropdown(this.id)">
                                <input class="select" value="To" id="transfer-transaction-account-to-input">
                                <i class="bi bi-chevron-down"></i>
                                <ul class="dropdown" onclick="toggleDropdown('transfer-transaction-account-to')">
                                    <% user.accountGroups.forEach(accountGroup => { %>
                                        <% Array.from(accountGroup.accounts).forEach(account => { %>
                                            <li onclick="setDropdownValue(this, 'transfer-transaction-account-to-input', 'To')"><%= account.name %></li>
                                        <% }) %>
                                    <% }) %>
                                </ul>
                            </div>
                            <div class="input-wrapper" id="transfer-transaction-amount">
                                <i class="bi bi-currency-pound"></i>
                                <input class="select" type="number" placeholder="Amount">
                            </div>
                            <div class="input-wrapper" id="transfer-transaction-note">
                                <i class="bi bi-sticky"></i>
                                <input class="select" type="text" placeholder="Note" onclick="">
                            </div>
                            <div class="input-wrapper dropdown-wrapper" id="transfer-transaction-repeat" onclick="toggleDropdown(this.id)">
                                <input class="select" value="Don't repeat">
                                <i class="bi bi-chevron-down"></i>
                                <ul class="dropdown">
                                    <li>Don't Repeat</li>
                                    <li>Every day</li>
                                    <li>Every week</li>
                                    <li>Every month</li>
                                    <li>Every quarter</li>
                                    <li>Every year</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="button-wrapper">
                        <button class="bt-secondary" type="button" onclick="toggleModal('new-transaction-modal')">Cancel</button>
                        <button class="bt-primary" type="submit">Save transaction</button>
                    </div>
                </div>
            </form>
        </section>
    </div>
    <script type="text/javascript" src="/public/js/app.js"></script>
</body>
</html>