<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accountant - Settings</title>

    <link rel="stylesheet" href="/public/styles/updated/main.css">
    <link rel="stylesheet" href="/public/styles/app/settings.css">
</head>
<body class="dark">
    <%- include('../partials/_navbar.ejs') %>
    <div id="overlay" onclick="closeModals()"></div>
    <div id="app-container">
        <div class="section-header">
            <h2>Settings</h2>
            <div class="input-wrapper dropdown mobile-menu-dropdown" id="mobile-menu-dropdown" onclick="toggleDropdown(this)">
                <input type="text" id="mobile-menu-input" name="categoryName" value="Profile">
                <i class="bi bi-chevron-down"></i>
                <ul class="dropdown-list">
                    <a class="dropdown-item radio-type" href="/app/settings/profile" onclick="setValue(this, 'mobile-menu-input')" value="Profile" data-link role="presentation">
                        Profile
                        <i class="bi bi-check-lg check"></i>
                    </a>
                    <a class="dropdown-item radio-type" href="/app/settings/configuration" onclick="setValue(this, 'mobile-menu-input')" value="Configuration" data-link role="presentation">
                        Configuration
                        <i class="bi bi-check-lg check"></i>
                    </a>
                    <a class="dropdown-item radio-type" href="/app/settings/accounts" onclick="setValue(this, 'mobile-menu-input')" value="Accounts" data-link role="presentation">
                        Accounts
                        <i class="bi bi-check-lg check"></i>
                    </a>
                    <a class="dropdown-item radio-type" href="/app/settings/general" onclick="setValue(this, 'mobile-menu-input')" value="General" data-link role="presentation">
                        General
                        <i class="bi bi-check-lg check"></i>
                    </a>
                    <a class="dropdown-item radio-type" href="/app/settings/security" onclick="setValue(this, 'mobile-menu-input')" value="Security" data-link role="presentation">
                        Security
                        <i class="bi bi-check-lg check"></i>
                    </a>
                </ul>
            </div>
        </div>

        <section class="divided-section">
            <menu class="navigation-menu">
                <a class="active" href="/app/settings/profile" id="profile-link" data-link role="presentation">
                    <li>Profile</li>
                </a>
                <a href="/app/settings/configuration" id="configuration-link" data-link role="presentation">
                    <li>Configuration</li>
                </a>
                <a href="/app/settings/accounts" id="accounts-link" data-link role="presentation">
                    <li>Accounts</li>
                </a>
                <a href="/app/settings/general" id="general-link" data-link role="presentation">
                    <li>General</li>
                </a>
                <a href="/app/settings/security" id="security-link" data-link role="presentation">
                    <li>Security</li>
                </a>
                <li>Plan</li>
                <li>Team</li>
                <li>Notifications</li>
                <li>API</li>
            </menu>

            <%- include('../partials/settings/_profile.ejs') %>
            <%- include('../partials/settings/configuration/_configuration.ejs') %>
            <%- include('../partials/settings/_general.ejs') %>
            <%- include('../partials/settings/_plan.ejs') %>
            <%- include('../partials/settings/_team.ejs') %>
            <%- include('../partials/settings/_notifications.ejs') %>
            <%- include('../partials/settings/accounts/_accounts.ejs') %>
            <%- include('../partials/settings/_security.ejs') %>
            <%- include('../partials/settings/_api.ejs') %>
        </section>
    </div>
    <script type="text/javascript" src="/public/js/updated/main.js"></script>
    <script type="text/javascript" src="/public/js/updated/settingsClientRouter.js"></script>
</body>
</html>